/* REST
======================================*/
body,
html,
#root {
  height: 100%;
}

/* BUTTONS
=================================== */
/* Primary Button */
.btn-primary {
  color: #fff !important;
  background-color: #142230 !important;
  border-color: #142230 !important;
}

.btn-primary:hover {
  color: #142230 !important;
  background-color: #b4d1e0 !important;
  border-color: #b4d1e0 !important;
}

/* COLORS (LINKS)
===================================== */
.light {
  color: #fff;
  text-decoration: none;
  font-size: 1.4rem;
}

.secondary {
  color: #b9c1c9;
  text-decoration: none;
  font-size: 1.4rem;
}

.light,
.secondary {
  transition: all 0.3s ease-in-out;
}

.light:hover,
.secondary:hover {
  color: #a7d7f0 !important;
}

/* MODAL
======================================== */
/* modal backdrop */
.modal-backdrop.show {
  opacity: 0.5;
  height: 100%;
  width: 100%;
}

.modal-backdrop.fade {
  opacity: 0;
  height: 100%;
  width: 100%;
}
