.nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 1rem;
  margin-top: 35px;
}

.navLink {
  font-size: 1.5rem;
  color: #b9c1c9;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  text-decoration: none;
}

.active {
  font-size: 1.5rem;
  color: #fff;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  text-decoration: none;
}
